
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        <b>Username :</b>@ViewBag.UserName
    </div>
</body>
</html>
