
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        @if (HttpContext.Current.Cache["ad"] != null)
        {
            var ad = HttpContext.Current.Cache["ad"].ToString();
            <span>@ad</span>
        }
        else
        {
            <span>Cache item "ad" is removed.</span>
        }
    </div>
</body>
</html>
